services:
  php:
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: development
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    ports:
      - 8081:8080
    volumes:
      - ./:/var/www/html
